.contenedor {
    gap:0.4rem;
    border: 1px solid blanchedalmond;
    display:grid;
    grid-template-columns: 2fr 3fr;
}

.contenedor1{
    border: 1px solid rgb(242, 226, 201);
    gap: 0.3rem;
    display:flex;
    flex-direction: column;
}

.item {
    background-color: bisque;
}

.contenedor2 {
    border: 1px solid rgb(228, 194, 142);
}

@media (max-width: 640px) {
    .contenedor1 {
        display:flex;
        flex-direction: row;
        align-content: flex-end;
    }
}







